<nav class="navbar navbar-dark bg-dark fixed-top activity-navbar">
  <div class="row">
    <div class="col align-self-center">
      <a class="navbar-brand" href="">RECENT ACTIVITY</a>
    </div>
  </div>
</nav>

<main role="main" class="artists-list-container">
  <div class="row justify-content-md-center my-auto py-2 jumbotron">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-1 text-center my-auto">
      <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p200x200/45701109_2107182476014220_74531954761924608_n.jpg?_nc_cat=108&_nc_ht=scontent.xx&oh=3786f20ac23b2cd5bb367f458cd6f6d1&oe=5D50EAE7" class="img-fluid" alt="">
    </div>
    <div class="col-lg-5 col-md-5 col-sm-9 col-xs-1 text-center my-auto">
      <h5>Jeff St. Jean</h5>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-9 col-xs-1 text-center my-auto">
      <p>Last Activity</p>
      <h6>02-07-19</h6>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1 text-center my-auto">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
    </div>
  </div>
</main>
