<div class="row justify-content-center py-2 mb-4 jumbotron navbar">
  <div class="container">
  </div>
  <div class="col-md-4 col-sm-12 text-center my-auto py-1">
    <!-- <img src="assets/imgs/logo.png" height="71" width="236" /> -->
    <img src="assets/imgs/logo-sm.png" height="64" width="64" />
  </div>
  <div class="col-md-4 col-sm-12 text-center my-auto py-1">
    <h2 style="color:white" id='title'>SPOTIFY NOTIFIER</h2>
  </div>
  <div class="col-md-4 col-sm-12 text-center my-auto py-1">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <a href="https://github.com/jeffstjean" target="_blank"><img class="icon" height="32" width="32" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg" /></a>
          <a href="https://www.youtube.com/channel/UCkB_b-apAI19afXp_In8qUA" target="_blank"><img class="icon" height="32" width="32" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/youtube.svg" /></a>
          <a href="http://twitter.com/jeffstjean1" target="_blank"><img class="icon" height="32" width="32" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/twitter.svg" /></a>
        </div>
      </div>
      <div class="row text-center mt-1">
        <div class="col text-center">
          <label for="">Jeff St. Jean</label>
        </div>
      </div>
    </div>
  </div>
</div>
